<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.mini.login.LoginMapper">

<select id="login" resultType="MemberVO">
		select 
			*  
		from tb_member2   
		where member_id = #{member_id}
	</select>
	
	<update id="updateMemberLastLogin">
		update tb_member2 set 
			member_last_login_time = now()
		where member_id = #{member_id}  
	</update>
	
	<update id="loginCountInc">
		update tb_member2 set 
			member_login_count = member_login_count + 1
			<choose>
				<when test="member_login_count > 3">
					, member_account_locked = 'Y'
				</when>
				<otherwise>
					, member_account_locked = 'N'
				</otherwise>
			</choose>
		where member_id = #{member_id} 
	</update> 

	<update id="loginCountClear">
		update tb_member2 set 
			 member_login_count = 0 
			,member_account_locked = 'N'
		where member_id = #{member_id} 
	</update> 
</mapper>
